{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
   
      
<section class="bg-black text-white d-flex flex-column justify-content-center align-items-center" id="explore">
  <div class="d-flex text-white bg-black py-2 h3">
      Explore Latest Movies , WebSeries And Animes
  </div>
 <hr style="width : 100vw;border:1px solid rgb(156, 156, 156);">
 <span class="d-flex align-items-center justify-content-end px-3 py-1" style="width: 100vw;">
  <a href="#" class="text-decoration-none text-white py-1">
   <i class="fa fa-plus-square"></i>
   See more
 </a>
 </span>
 <div class="col-sm-12 d-flex justify-content-center align-items-center bg-dark py-4" id="Slider" style="height: 35vh;">
      <div class="icon left-icon px-4 py-5 border border-1 border-white text-info rounded-end rounded">
         <i class="fa fa-caret-left" style="font-size: 25px;"></i>
      </div>
      <div class="content px-3 d-flex align-items-center justify-content-center bg-danger" style="width:90vw;">
               <div class="col-sm-12 bg-warning d-flex justify-content-center align-items-center" id="CardCont">
                  
                {% block apiFetch %}
                  
                {% endblock apiFetch %}
                
               </div>
      </div>
      <div class="icon right-icon px-4 py-5 border border-1 border-white text-info rounded-start rounded-2">
       <i class="fa fa-caret-right" style="font-size: 25px;"></i>
      </div>

 </div>
</section> 
{% endblock body %}
